body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: 0;
	padding: 0;
}


/*--------------------Header + Nav Section------------------*/

.header {
  height: 69px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: black;
}

.header li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}

.header li a {
  color: seashell;
  opacity: 0.9;
  margin:0;
  border:0px;
}

ul {
  padding-right: 10px;
  display: flex;
}

li {
	
}

#logo {
	height: 50px;
	margin-left: 10px;
	padding-top: 10px;
}

/*--------------Jumbotron Section-------------------*/

.jumbotron {
	height: 700px;
	max-width: 100%;
	background-image: url(/Users/amelgoza/Desktop/Projects/TeaCozy/resources/img/img-mission-background.jpg);
	background-size: cover;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.description {
	background-color: black;
	background-size: auto;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

/*-------------Menu Options Section---------------*/

.options {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;	
	margin: 0px auto;
	padding-top: 75px;
}

.options img {
	height: 200px;
	width: 300px;
	margin-bottom: 0px;
}

.label {
	margin-top: 10px;
}

.top-row {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.month {
	margin-top: 0px;
}

.middle-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.bottom-row {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-right: 30px;
	flex-direction: row;
}

.ave-tea {
	margin-right: 25px;
}

.bizzare-tea {
	margin-left: 25px;
}

/*-------------Location Section----------------*/

.locations {
	height: 500px;
	width: 100%;
	background-image: url(/Users/amelgoza/Desktop/Projects/TeaCozy/resources/img/img-locations-background.jpg);
	background-size: cover;
}

.row {
	width 100%
	height: 700px;
	display: flex;
	justify-content: space-around;
	padding-top: 0px;
	height: 65%;
	margin-top: 0px;
	
}

.locations h2 {
	height: 50px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 0px;
	padding-bottom: 14px;
	padding-top: 55px;
}

.square {
	height: 300px;
	width: 300px;
	background-color: black;
	opacity: 1;
	text-align: center;
	align-items: center;
}

/*-------------Location Section----------------*/

.contact {
	height: 200px;
	width: 100%;
	text-align: center;
}
